.textarea{
	width: 400px;
	height: 200px;
}


.email {
	color: rgb(0,200,200);	
}


img
{
	margin-top: 20px;
}

.alignimage
{
	width: 20px;
	vertical-align: text-bottom; 
}


img {
	width: 400px;
}



