

<div class="container">
	<div class="row">
		<div class="col">
			<h2 class="mb-n3 mt-n5">Contact</h2>
			<br><br>
			<br>
			Contact me at <span class="email"><u>oparrilla@gmail.com</u></span>.
			<br>
			<p><a class="link" href="https://www.linkedin.com/in/oscar-parrilla-mart%C3%ADnez-a0423729/" target="_blank"><img class="alignimage" src="assets/img/linkedin-box.png"></a>&nbsp;<a class="link" href="https://www.linkedin.com/in/oscar-parrilla-mart%C3%ADnez-a0423729/" target="_blank">LinkedIn</a>
			<br>
			<a class="link" href="https://github.com/Greenin" target="_blank"><img class="alignimage" src="assets/img/github-circle.png"></a>&nbsp;<a class="link" href="https://github.com/Greenin" target="_blank">GitHub</a></p>
		</div>
	</div>	
	<div class="row">
		<div class="col col-xs-12 mt-5">
			<img class="myphoto border img-responsive center-block img-fluid" src="../../../assets/img/im2.jpg">		
		</div>
	</div>
	

</div>