

	<h2 class="mb-n1 mt-n5">Projects</h2>
	<br><br>

	<div class="row">



		<div class="col-md-6 col-lg-4"> 				

			<div class="card text-center mt-4" style="height: 90%;">

				<img src="../../assets/img/project12.jpg" class="border" style="max-width:100%;">						

				<div class="card-body">
					<h6 class="card-title ">My professional responsive design website (new version)</h6>
					<p class="card-text"> <a href="https://github.com/Greenin/My-responsive-design-website" target="_blank">GitHub code</a></p>

				</div>

			</div>

		</div>


		<div class="col-md-6 col-lg-4">  

			<div class="card text-center mt-4 h-90">
		
				<img src="../../assets/img/project11.jpg" class="border" style="max-width: 100%; ">			

				<div class="card-body">
					<h5 class="card-title" style="font-size: 15px;">Bootstrap landing page (accesible)</h5>
					<p class="card-text"> <a href="https://bootstrap-website.oparrilla.now.sh/" target="_blank">Url link</a><br><a href="https://github.com/Greenin/Bootstrap-website" target="_blank">GitHub code</a></p>
					
				</div>

			</div>
		</div>


		<div class="col-md-6 col-lg-4">  

			<div class="card text-center mt-4 h-95">
		
				<img src="../../assets/img/project10.jpg" class="border" style="max-width: 100%;">			

				<div class="card-body">
					<h5 class="card-title" style="font-size: 15px; margin-top: -3px;">MEAN CRUD for employees</h5>
					<p class="card-text" style="margin-bottom: -3px; margin-bottom: -4px;"> <a href="https://github.com/Greenin/MEAN-CRUD-frontend-for-employees" target="_blank">Frontend GitHub code</a><br><a href="https://github.com/Greenin/MEAN-CRUD-backend-for-employees" target="_blank">Backend GitHub code</a></p>
					
				</div>

			</div>
		</div>

		
		<div class="col-md-6 col-lg-4">  

			<div class="card text-center mt-4 h-95">
		
				<img src="../../assets/img/project7.jpg" class="border" style="max-width: 100%; ">			

				<div class="card-body">
					<h5 class="card-title" style="font-size: 15px;">Angular links vote app (accesible)</h5>
					<p class="card-text"> <a href="https://angular-links-vote-app.oparrilla.now.sh" target="_blank">Url link</a><br><a href="https://github.com/Greenin/Angular-votes-app-master" target="_blank">GitHub code</a></p>
					
				</div>

			</div>
		</div>

		<div class="col-md-6 col-lg-4"> 				

			<div class="card text-center mt-4" style="height: 90%;">

				<img src="../../assets/img/project9.jpg" class="border " style="max-width:100%;">						

				<div class="card-body">
					<h5 class="card-title ">Pattern search in Perl</h5>
					<p class="card-text"> <a href="https://github.com/Greenin/Pattern-search-in-Perl" target="_blank">GitHub code</a></p>

				</div>

			</div>

		</div>



		<div class="col-md-6 col-lg-4">				

			<div class="card text-center mt-4 h-95">

				<img src="../../assets/img/project8.jpg" class="border" style="max-width:100%; ">						

				<div class="card-body">
					<h6 class="card-title">Perl and PHP project</h6>
					<p class="card-text"> <a href="https://github.com/Greenin/Perl-and-PHP-project" target="_blank">GitHub code</a></p>

				</div>

			</div>

		</div>



		<div class="col-md-6 col-lg-4"> 				

			<div class="card text-center mt-4 h-95">

				<img src="../../assets/img/project2.jpg" class="border" style="max-width:100%;">						

				<div class="card-body">
					<h5 class="card-title ">Ionic project</h5>
					<p class="card-text"> <a href="https://github.com/Greenin/Ionic-project" target="_blank">GitHub code</a></p>

				</div>

			</div>

		</div>





		<div class="col-md-6 col-lg-4"> 				

			<div class="card text-center mt-4 h-95">

				<img src="../../assets/img/project6.jpg" class="border" style="max-width:100%; ">						

				<div class="card-body">
					<h5 class="card-title" style="font-size: 18px;">My professional website (old version)</h5>
					<p class="card-text"> <a href="https://github.com/Greenin/My-professional-website" target="_blank">GitHub code</a></p>

				</div>

			</div>

		</div>



		<div class="col-md-6 col-lg-4">  

			<div class="card text-center mt-4 h-95">
		
				<img src="../../assets/img/project5.jpg" class="border" style="max-width: 100%; ">			

				<div class="card-body">
					<h5 class="card-title">MEAN stack project</h5>
					<p class="card-text" style="margin-bottom: -8px;"> <a href="https://github.com/Greenin/MEAN-stack-frontend" target="_blank">Frontend GitHub code</a><br><a href="https://github.com/Greenin/MEAN-stack-backend" target="_blank">Backend GitHub code</a></p>
					
				</div>

			</div>
		</div>


		<div class="col-md-6 col-lg-4"> 				

			<div class="card text-center" style="margin-top: 20px;height: 90%;">

				<img src="../../assets/img/project2.jpg" class="border " style="max-width:100%;">						

				<div class="card-body">
					<h5 class="card-title ">Poo and Typescript</h5>
					<p class="card-text"> <a href="https://github.com/Greenin/POO-and-Typescript" target="_blank">GitHub code</a></p>

				</div>

			</div>

		</div>



		<div class="col-md-6 col-lg-4">  				

			<div class="card text-center mt-4 h-95">

				<img src="../../assets/img/project1.jpg" class="border " style="max-width:100%;">						

				<div class="card-body">
					<h5 class="card-title ">JS Project</h5>
					<p class="card-text"> <a href="https://github.com/Greenin/JS-project" target="_blank">GitHub code</a></p>

				</div>

			</div>

		</div>



		<div class="col-md-6 col-lg-4">   

			<div class="card text-center mt-4 h-95">
		
				<img src="../../assets/img/project3.jpg" class="border" style="max-width: 100%; ">			

				<div class="card-body">
					<h5 class="card-title" style="font-size: 15px; margin-top: -7px; margin-bottom: 5px;">Learning Angular (accesible)</h5>
					<p class="card-text small" style="line-height: 17px; margin-bottom: -5px;"> <a href="https://learning-angular.oparrilla.now.sh" target="_blank">Url link</a><br><a href="https://github.com/Greenin/Learning-Angular" target="_blank">GitHub code</a></p>
					
				</div>

			</div>
		</div>
		

	</div>