<div id="title">
	<h1>{{sTitle}}</h1>
	<h2>{{sSubtitle}}</h2>
	<h3>{{sEmail}}</h3>
	<!--<a href="https://github.com/Greenin/">{{sGithub}}</a>-->
</div>

<br><br>

<img src="../../../assets/img/image.jpg" alt="" width="250" height="258">


<br><br><br><br><br>


<article class="about">
	<h2>About me</h2>
	<p>
		I am currently seeking employment as a junior programmer in JavaScript. Passion for web development. 11-month experience in JavaScript, jQuery, web layout, Angular, NodeJS, ExpressJS and MongoDB. I'm available to work and to move abroad.
	</p>
</article>

