
<link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic|Open+Sans:300,400,500,700|Waiting+for+the+Sunrise|Shadows+Into+Light' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdn.rawgit.com/zkreations/SheetSlider/master/dist/sheetslider.min.css"/>



<div class="row myname-hero">
  <div class="col">
   <div class="name-text">
      <h1>Oscar <em>Parrilla</em></h1>
      <p>No 6 Augusto Roa Bastos Street 2nd Floor,Illescas,Spain</p>
      <p>oparrilla@gmail.com</p> 
      <p>+34 662205657</p>   
   </div>
  </div>
</div>

<hr/>
<br>
<br>

<div class="row">
  <div class="col">
    <section>
      <h1>WORK EXPERIENCE</h1>
      <br>
      <p>november 2018 - april 2019 <em>Junior full-stack developer (remote)</em> |  <span class="company">FunComics </span></p>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Development of a MEAN Stack architecture web application to read comics.<br>&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;CRUD functionality to manage users.<br>&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Tecnologies used: JavaScript, jQuery, Angular 6, NodeJS, ExpressJS, MongoDB and GitHub.<br>&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Web layout.
      </p>

      &nbsp;&nbsp; &nbsp;<span class="location"><i class="fa fa-map-marker"></i>&nbsp;&nbsp;Illescas (Spain)</span>
      <br>
      <br>
      <p>august 2015 - october 2018 <em>Java senior programmer</em> |  <span class="company">Abalia</span></p>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Java programming for client LeasePlan.<br>&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;CRM improvement and corrective developments.<br>&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;BC, applet, View, Screen, validation and BS creation and modification.
      </p>
      &nbsp;&nbsp; &nbsp;<span class="location"><i class="fa fa-map-marker"></i>&nbsp;&nbsp;Alcobendas (Spain)</span>
      <br>
      <br>
      <p>august 2015 - october 2018 <em>Java programmer analyst</em> |  <span class="company">Gallium Appliance, S.L.</span></p>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Java programming for client Prisa TV.<br>&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Responsible for CRM user troubleshooting.<br>&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Bug fixing, correctives and new developments.<br>&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Achievement: I proposed, invented and programmed a Excel macro to automate a manual administrative task that took 18 hours of work every month to the company.
      </p>
      &nbsp;&nbsp; &nbsp;<span class="location"><i class="fa fa-map-marker"></i>&nbsp;&nbsp;Alcobendas (Spain)</span>
      <br>
      <br>
      <p>april 2007 - march 2018 <em>Systems administrator</em> |  <span class="company">Endopack S.A.</span></p>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Installation, configuration and maintenance for PC’s, printers, Novell and PBX networks.<br>&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Managing Linux y Novell Netware servers.<br>&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Management Foxpro database and Outlook email.
      </p>
      &nbsp;&nbsp; &nbsp;<span class="location"><i class="fa fa-map-marker"></i>&nbsp;&nbsp;Fuenlabrada (Spain)</span>
      <br>
      <br>
      <p>october 2006 - april 2007 <em>Professional practice</em> |  <span class="company">Everis</span></p>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Company intranet development and maintenance (ASP, .NET, SQL).<br>&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Incident diagnosis and resolution for the Intranet users.
      </p>
      &nbsp;&nbsp; &nbsp;<span class="location"><i class="fa fa-map-marker"></i>&nbsp;&nbsp;Pozuelo de Alarcón (Spain)</span>
      <br>
      <br>
      <br>
      <br>
    </section>

    <section>
      <h1>EDUCATION AND TRAINING</h1>
      <br>
      <p>september 2018 - october 2018 <em>Programming Foundations with JavaScript, HTML and CSS Course</em> |  <span class="company">Duke University </span></p>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;Course to learn basic web development as you build web pages using HTML, CSS, JavaScript. By the course, I can create a web page where others can upload their images and apply image filters that you create, I can write JavaScript programs using functions, for loops, and conditional statements and use HTML to construct a web page with paragraphs, divs, images, links, and lists; To add styles to a web page with CSS IDs and classes; to make a web page interactive with JavaScript commands like alert, onClick, onChange, adding input features like an image canvas, button, and slider.<br>

      &nbsp;&nbsp;&nbsp;&nbsp;Duration: 23 hours<br>
      &nbsp;&nbsp;&nbsp;&nbsp;Platform: Coursera<br>
      &nbsp;&nbsp;&nbsp;&nbsp;Language: English<br>
      </p>
      &nbsp;&nbsp; &nbsp;<span class="location"><i class="fa fa-map-marker"></i>&nbsp;&nbsp;Illescas (Spain)</span>
      <br>
      <br>
      <p>september 2008 - july 2015 <em>Master in Information Technologies and Computer Systems</em> |  <span class="company">Rey Juan Carlos University</span></p>
      &nbsp;&nbsp; &nbsp;<span class="location"><i class="fa fa-map-marker"></i>&nbsp;&nbsp;Móstoles (Spain)</span>
      <br>
      <br>
      <p>september 2003 - july 2009 <em>Diploma in Computer Systems</em> |  <span class="company">Rey Juan Carlos University</span></p>
      &nbsp;&nbsp; &nbsp;<span class="location"><i class="fa fa-map-marker"></i>&nbsp;&nbsp;Móstoles (Spain)</span>
      <br>
      <br>
    </section>
    <br>
    <br>

    <section>
      <h1>LANGUAGES</h1>
      <br>
      <p><em>Spanish</em>&nbsp;Native  
      <p><em>English: </em>
      <br>
      <br>
      <div class="skillbar clearfix " data-percent="45%">
        <div class="skillbar-title" style="background: #d35400;"><span>Listening (B1)</span></div>
        <div class="skillbar-bar listening" style="background: #e67e22;"></div>
        <div class="skill-bar-percent">45%</div>
      </div> <!-- End Skill Bar -->

      <div class="skillbar clearfix " data-percent="50%">
        <div class="skillbar-title" style="background: #2980b9;"><span>Reading (B1)</span></div>
        <div class="skillbar-bar reading" style="background: #3498db;"></div>
        <div class="skill-bar-percent">50%</div>
      </div> <!-- End Skill Bar -->

      <div class="skillbar clearfix " data-percent="45%">
        <div class="skillbar-title" style="background: #2c3e50;"><span>Speaking (B1)</span></div>
        <div class="skillbar-bar speaking" style="background: #2c3e50;"></div>
        <div class="skill-bar-percent">45%</div>
      </div> <!-- End Skill Bar -->

      <div class="skillbar clearfix " data-percent="42%">
        <div class="skillbar-title" style="background: #333333;"><span>Writing (B1)</span></div>
        <div class="skillbar-bar writing" style="background: #525252;"></div>
        <div class="skill-bar-percent">42%</div>
      </div> <!-- End Skill Bar -->

    </section>
    <br>
    <br>

    <section>
      <h1>Technical Skills</h1>
      <ul class="skill-set">
        <li>HTML5</li>
        <li>CSS3</li>
        <li>JavaScript</li>
        <li>jQuery</li>
        <li>MongoDB</li>
        <li>ExpressJS</li>
        <li>Angular 6</li>
        <li>NodeJS</li>          
        <li>Bootstrap</li>
        <li>GitHub</li>
        <li>Handlebars</li>
        <li>MySQL</li>            
        <li>SQL</li>
        <li>Mobile Development</li>
        <li>Ionic</li>
        <li>Adobe Photoshop</li>
        <li>PHP</li>
        <li>ASP</li>
        <li>Java</li>
        <li>C</li>
        <li>Perl</li>
        <li>Linux Shell Scripting</li>
        <li>MS-DOS Batch</li>
        <li>UI Design</li>
        <li>Responsive Web Design</li>
      </ul>
    </section>
    <br>
    <br>
    <section>
      <h1>Personal Interests</h1>
      <ul class="skill-set">
        <li>Sport</li>
        <li>Health & Nutrition</li>
        <li>Reading</li>
      </ul>
    </section>
    <br>
    <br>
    <br>
 

      Download my resume <a href="../../assets/CV-Europass-20190613-ParrillaMartínez-EN.pdf">here</a>.


    <section>
      <div class="handmade">
        <p>handmade by <em> Oscar Parrilla</em></p>
      </div>
    </section>

   </div>
  </div>

  
